<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{product.header }}</mat-card-title>
    <mat-card-subtitle>Price: {{product.price}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="padding">
      <img src="{{product.image}}" alt="">
    </div>
    <p>{{product.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" class="card-action">
      <div fxFlex="100%" fxLayoutAlign="end end">
        <button mat-button (click)='addToCart()' *ngIf='!cartItems.includes(product.id)'>
          <mat-icon>add_shopping_cart</mat-icon>
          <span> Add to Cart </span>
        </button>
        <button mat-button (click)='removeFromCart()' *ngIf='cartItems.includes(product.id)'>
          <mat-icon class="addedtocart">shopping_cart</mat-icon>
          <span *ngIf='!cartItems.includes(product.id)'> Add to Cart </span>
          <span class="addedtocart"> Added to Cart </span>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
