<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="60%" fxLayout="column" fxLayoutGap="2%">
    <div fxLayout="row">
      <div fxFlex="100%" fxLayoutAlign="center center">
        <h1>Linusu Tech Shop</h1>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100%" fxLayoutAlign="center center">
        <p class="header">Welcome to the best tech shop in town! You can buy any PC part you want as long as you have money. But remember kids, don't drop your PC component!</p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100%">
        <button mat-raised-button color="primary" (click)="openDialog()">
          <mat-icon>add_shopping_cart</mat-icon>
          <span> Add New Order</span>
        </button>
      </div>
    </div>
    <div fxLayout="row" *ngFor='let item of techShopArray'>
      <div fxFlex="100%">
          <app-shop-card [techShop] = 'item' (editTechShop) = 'editTechShop($event)' 
          (deleteTechShop) = 'deleteTeshShop($event)'></app-shop-card>
      </div>
    </div>
  </div>
</div>
