<div class="locations">
  <div fxLayout="row">
    <div fxFlex="25%">
      <mat-card class="card">
        <img mat-card-image src="../../assets/download (1).jfif" alt="">
        <mat-card-content>
          <h2>Top Winter Location</h2>
          <h4>More Than 200 Locations</h4>
          <p>Card provide content and an entry point to more robust infromation and views, and their content and qantity can very greatly.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">SHARE</button>
          <button mat-button color="primary" (click)="openExploreDialog()">EXPLORE</button>
          <mat-icon class="more">expand_more</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%">
      <mat-card class="card">
        <img mat-card-image src="../../assets/14-1384420858-slide1.jpg" alt="">
        <mat-card-content>
          <h2>Top Eastem Road Trips</h2>
          <h4>200 Miles of wounder</h4>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">SHARE</button>
          <button mat-button color="primary" (click)="openExploreDialog()">EXPLORE</button>
          <mat-icon class="more">expand_more</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Christy</mat-card-title>
          <mat-card-subtitle>20 min ago</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/download.jfif" alt="">
        <mat-card-content>
          <h2>Kangaroo Valley Safari</h2>
          <h4>Free on thursday</h4>
          <p>Card provide content and an entry point to more robust infromation and views, and their content and qantity can very greatly.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25%">
      <mat-card class="card">
        <img mat-card-image src="../../assets/download (2).jfif" alt="">
        <mat-card-content>
          <div fxLayoutAlign="end center">
            <mat-icon>favorite</mat-icon>
            <mat-icon>delete</mat-icon>
            <mat-icon>location_on</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
