<div fxLayout="row" fxLayoutAlign="center center" class="main">
  <div fxFlex="40%">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Garry Newmon Posted on your Timeline</mat-card-title>
        <mat-card-subtitle>32 minutes ago</mat-card-subtitle>
        <mat-icon class="more">more_vert</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column" class="padding-16">
          <p>Remember the place we were talking about the other night? Found it!</p>
          <img src="../../assets/3.jfif" alt="">
        </div>
        <div fxLayout="row" class="padding-16">
          <div fxFlex="15%" fxLayout="row" fxLayoutAlign="center center">
            <div>
              <mat-icon>favorite</mat-icon>
            </div>
            <div>LIKE (5) </div>
          </div>
          <div fxFlex="20%" fxLayout="row" fxLayoutAlign="center center">
            <div>
              <mat-icon>share</mat-icon>
            </div>
            <div>SHARE (21)</div>
          </div>
        </div>
        <div class="content">
          <div class="row" fxLayoutAlign="Start center">
            <div>1 Comment</div>
            <div>
              <mat-icon>expand_more</mat-icon>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="10%">
              <div mat-card-avatar class="header-image"></div>
            </div>
            <div fxFlex="90%" fxLayout="column">
              <div class="name">Alice Freemom</div>
              <div>june 10 2018</div>
              <p>Remember the place we were talking about the other night? Found it! Remember the place we were talking
                about the other night? Found it!
              </p>
              <div class="reply">Reply</div>
            </div>
          </div>
          <div fxLayout="row" class="footer">
            <div fxFlex="10%">
              <div mat-card-avatar class="avtar"></div>
            </div>
            <div fxFlex="90%" fxLayout="column">
              <mat-form-field appearance="outline" class="comment">
                <textarea matInput placeholder="Add a comment"></textarea>
              </mat-form-field>
              <button mat-raised-button color="primary" class="button">Post Comment</button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>