<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ZettaByte</span>
    <span class="spacer"></span>
    <button mat-raised-button color='primary' (click)='clickOnChallenge(1)'>Challange 1</button>
    <button mat-raised-button color='primary' (click)='clickOnChallenge(2)'>Challange 2</button>
    <button mat-raised-button color='primary' (click)='clickOnChallenge(3)'>Challange 3</button>
    <button mat-raised-button color='primary' (click)='clickOnChallenge(4)'>Challange 4</button>
    <button mat-raised-button color='primary' (click)='clickOnChallenge(5)'>Challange 5</button>
    <button mat-raised-button color='primary' (click)='clickOnChallenge(6)'>Challange 6</button>
  </mat-toolbar-row>
</mat-toolbar>
<app-challenge1 *ngIf='challenge === 1'></app-challenge1>
<app-challenge2 *ngIf='challenge === 2'></app-challenge2>
<app-challenge3 *ngIf='challenge === 3'></app-challenge3>
<app-challenge4 *ngIf='challenge === 4'></app-challenge4>
<app-challenge5 *ngIf='challenge === 5'></app-challenge5>
<app-challenge6 *ngIf='challenge === 6'></app-challenge6>
