<div class="simple-pricing" fxLayoutAlign="center center">
  <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center">
    <span class="heading">Simple Pricing!</span>
    <p class="description">The most advanced custmter support tools with a simple and afardable pricing. And you can
      always try for 30 days free!</p>
  </div>
</div>
<div class="main">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
    <div fxFlex="20%">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>BASIC</mat-card-title>
        </mat-card-header>
        <div fxLayoutAlign="center center" class="content">
          <span matBadge="$" matBadgePosition="before" class="digit">4 <span class="text">/ month</span> </span>
        </div>
        <hr>
        <mat-card-content style="padding-left: 10px;">
          <p>10 Projects</p>
          <p>10 Pages</p>
          <p>100 Mb Disk Space</p>
        </mat-card-content>
        <div fxLayoutAlign="center center">
          <button mat-raised-button (click)="success()" class="button" color="primary">BUY NOW</button>
        </div>
      </mat-card>
    </div>
    <div fxFlex="20%">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>STANDARD</mat-card-title>
        </mat-card-header>
        <div fxLayoutAlign="center center" class="content">
          <span matBadge="$" matBadgePosition="before" class="digit">4 <span class="text">/ month</span> </span>
        </div>
        <hr>
        <mat-card-content style="padding-left: 10px;">
          <p>20 Projects</p>
          <p>20 Pages</p>
          <p>200 Mb Disk Space</p>
        </mat-card-content>
        <div fxLayoutAlign="center center">
          <button mat-raised-button (click)="success()" class="button" color="primary">BUY NOW</button>
        </div>
      </mat-card>
    </div>
    <div fxFlex="20%">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>ADVANCED</mat-card-title>
        </mat-card-header>
        <div fxLayoutAlign="center center" class="content">
          <span matBadge="$" matBadgePosition="before" class="digit">4 <span class="text">/ month</span> </span>
        </div>
        <hr>
        <mat-card-content class="cardText">
          <p>40 Projects</p>
          <p>40 Pages</p>
          <p>400 Mb Disk Space</p>
        </mat-card-content>
        <div fxLayoutAlign="center center">
          <button mat-raised-button (click)="success()" class="button" color="primary">BUY NOW</button>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="footer">
    <h1>Frequently Asked Questions</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="30%">
      <h4>How does free trial work?</h4>
      <p>he most advanced custmter support tools with a simple and afardable pricing. And you can
        always try for 30 days freehe most advanced custmter support tools with a simple and afardable pricing.</p>
    </div>
    <div fxFlex="30%">
      <h4>Can't cancel anytime?</h4>
      <p>he most advanced custmter support tools with a simple and afardable pricing. And you can
        always try for 30 days freehe most advanced custmter support tools with a simple and afardable pricing.</p>
    </div>
  </div>
</div>
