<div fxLayout="row">
  <div fxFlex="100%">
    <h2 mat-dialog-title>{{this.data ? 'Edit' : 'Create New'}} Playlist</h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="playlistForm">
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <div fxFlex="100%">
            <mat-form-field class="full-width">
              <mat-label>Playlist Name</mat-label>
              <input matInput formControlName="title" />
              <mat-error *ngIf="playlistName.invalid">Required this field</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100%">
            <mat-form-field class="full-width">
              <mat-label>Description</mat-label>
              <input matInput formControlName="description" />
              <mat-error *ngIf="description.invalid">Required this field</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout='column' fxFlex='100%' formArrayName='songsArr'>
            <div fxLayout='row' fxLayoutGap="10px" fxFlex='100%' *ngFor='let item of songsArr.controls; let i=index' [formGroupName]='i'>
              <div fxFlex="22%">
                <mat-form-field class="full-width">
                  <mat-label>Song title</mat-label>
                  <input matInput formControlName="songTitle" />
                  <mat-error *ngIf="songsArr.controls[i].get('songTitle').invalid">Required this field</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="22%">
                <mat-form-field class="full-width">
                  <mat-label>Artist</mat-label>
                  <input matInput formControlName="artist" />
                  <mat-error *ngIf="songsArr.controls[i].get('artist').invalid">Required this field</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="22%">
                <mat-form-field class="full-width">
                  <mat-label>Duration</mat-label>
                  <input matInput formControlName="duration" type="number" />
                  <span matSuffix>minutes</span>
                  <mat-error *ngIf="songsArr.controls[i].get('duration').invalid">Required this field</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="22%" fxLayoutGap="10px" fxLayoutAlign="end center">
                  <mat-icon class="add"  (click)='addToSongsArray()' *ngIf="songsArr.controls.length-1===i">add_circle</mat-icon>
                  <mat-icon class="remove" (click) = 'removeFromArray(i)'>remove_circle</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="center center">
      <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
      <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial
              color="primary" [mat-dialog-close]='playlistForm.value' [disabled]="playlistForm.invalid">Submit</button>
    </mat-dialog-actions>
  </div>
</div>
